.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ad502e8fd1c167922ec9b8ca43c297769391cd50de74952c8f4e2e35342a86dc63714091334ab16c6ab8b431ed8a3d81fa6b1b966db0c13681b5b0_1280.4b4cc479b881.jpg");
  min-height: 1135px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1030px;
  margin-top: 60px;
  margin-bottom: 45px;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-2 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-3 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 524px;
  margin: 0 729px 0 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-size: 1.125rem;
}

.u-section-1 .u-tab-pane-2 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 1127px;
  margin: 33px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 292px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/medical-doctor-profile-icon-male-portrait-flat-design-EY25CP.7568c0d97c47.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 131px;
  margin: 20px -1px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/friendly-smiling-woman-looking-pleased-front_176420-20779.53fb380bacfa.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0;
}

.u-section-1 .u-group-2 {
  min-height: 130px;
  margin: 20px -1px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 120px;
  height: 120px;
  margin: 22px auto 0;
}

.u-section-1 .u-group-3 {
  min-height: 131px;
  margin: 20px -1px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 120px;
  height: 120px;
  margin: 22px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 131px;
  margin: 20px -1px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-tab-pane-3 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-list-2 {
  width: 908px;
  margin: 15px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 464px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 6px;
}

.u-section-1 .u-image-5 {
  width: 146px;
  height: 146px;
  object-position: 50% 0%;
  background-image: url("images/hospital-building-isometric-3d-pixel-design-icon-vector-5374734.a91a82358d31.jpg");
  background-position: 50% 50%;
  margin: 40px auto 0 44px;
}

.u-section-1 .u-group-5 {
  width: 606px;
  min-height: 189px;
  margin: -157px 0 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: 13px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 33px auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 34px auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 47px;
  min-height: 165px;
  margin: -188px auto 0 219px;
}

.u-section-1 .u-icon-1 {
  height: 35px;
  width: 36px;
  margin: 6px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 35px;
  width: 35px;
  margin: 24px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 35px;
  width: 35px;
  margin: 24px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 6px;
}

.u-section-1 .u-image-6 {
  width: 146px;
  height: 146px;
  object-position: 50% 0%;
  margin: 40px auto 0 44px;
}

.u-section-1 .u-group-7 {
  width: 606px;
  min-height: 189px;
  margin: -157px 0 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding-bottom: 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: 13px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: 33px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 34px auto 0 0;
}

.u-section-1 .u-group-8 {
  width: 47px;
  min-height: 165px;
  margin: -188px auto 0 219px;
}

.u-section-1 .u-icon-4 {
  height: 35px;
  width: 36px;
  margin: 6px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 35px;
  width: 35px;
  margin: 24px auto 0;
}

.u-section-1 .u-icon-6 {
  height: 35px;
  width: 35px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
    min-height: 1149px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
    margin-top: 74px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-tab-pane-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-form-1 {
    margin-right: 529px;
  }

  .u-section-1 .u-tab-pane-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 244px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    min-height: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 100px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    min-height: 100px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    min-height: 100px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tab-pane-3 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-5 {
    margin-top: 54px;
  }

  .u-section-1 .u-group-5 {
    width: 594px;
    min-height: 177px;
    margin-top: -158px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: -176px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 54px;
  }

  .u-section-1 .u-group-7 {
    width: 594px;
    min-height: 177px;
    margin-top: -158px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: -176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1150px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1149px;
    margin-top: 86px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-item-2 {
    margin-right: undefined;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-item-3 {
    margin-right: undefined;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-1 {
    margin-right: 309px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 748px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 47px;
    margin-left: 16px;
  }

  .u-section-1 .u-group-5 {
    width: 475px;
    min-height: 184px;
    margin-top: -161px;
    margin-right: 6px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -181px;
    margin-left: 186px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 47px;
    margin-left: 16px;
  }

  .u-section-1 .u-group-7 {
    width: 475px;
    min-height: 184px;
    margin-top: -161px;
    margin-right: 6px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -181px;
    margin-left: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1280px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1154px;
    margin-top: 81px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 0.875rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 0.875rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 0.875rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 5px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 129px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-image-5 {
    width: 128px;
    height: 128px;
    margin-top: 49px;
  }

  .u-section-1 .u-group-5 {
    width: 333px;
    min-height: 165px;
    margin-top: -136px;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-group-6 {
    margin-top: -168px;
    margin-left: 156px;
  }

  .u-section-1 .u-image-6 {
    width: 128px;
    height: 128px;
    margin-top: 49px;
  }

  .u-section-1 .u-group-7 {
    width: 333px;
    min-height: 165px;
    margin-top: -136px;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-group-8 {
    margin-top: -168px;
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 743px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 667px;
    margin-top: 76px;
    margin-bottom: 0;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 0.625rem;
    font-weight: normal;
  }

  .u-section-1 .u-tab-item-2 {
    margin-bottom: 5px;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 0.625rem;
    font-weight: normal;
  }

  .u-section-1 .u-tab-item-3 {
    margin-bottom: 5px;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 0.625rem;
    font-weight: normal;
  }

  .u-section-1 .u-form-1 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 242px;
    margin-top: 17px;
    margin-bottom: -17px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 990px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 5px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-top: 14px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 333px;
  }

  .u-section-1 .u-image-5 {
    width: 80px;
    height: 80px;
    margin-top: 28px;
    margin-left: 24px;
  }

  .u-section-1 .u-group-5 {
    width: 180px;
    min-height: 131px;
    margin-top: -100px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-group-6 {
    min-height: 121px;
    margin-top: -125px;
    margin-left: 111px;
  }

  .u-section-1 .u-icon-1 {
    height: 20px;
    width: 20px;
  }

  .u-section-1 .u-icon-2 {
    height: 20px;
    width: 20px;
  }

  .u-section-1 .u-icon-3 {
    height: 20px;
    width: 20px;
  }

  .u-section-1 .u-image-6 {
    width: 80px;
    height: 80px;
    margin-top: 28px;
    margin-left: 24px;
  }

  .u-section-1 .u-group-7 {
    width: 180px;
    min-height: 131px;
    margin-top: -100px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-group-8 {
    min-height: 121px;
    margin-top: -125px;
    margin-left: 111px;
  }

  .u-section-1 .u-icon-4 {
    height: 20px;
    width: 20px;
  }

  .u-section-1 .u-icon-5 {
    height: 20px;
    width: 20px;
  }

  .u-section-1 .u-icon-6 {
    height: 20px;
    width: 20px;
  }
} .filter-tab {
	position: sticky;
}
img {
	filter: drop-shadow(0.2rem 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
}
	            input[type=text],
            select {
              width: 100%;
              padding: 7px 10px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              font-size: 20px;
            }
            input[type=submit] {
              width: 20%;
              background-color: #293332;
              color: white;
              padding: 15px 10px 15px 1px;
              margin-top: 18px;
              border-radius: 4px;
              cursor: pointer;
            }
            form input[type=submit]:hover {
              background-color: #4CAF50;
            }
            form {
              border-radius: 8px;
              background-color: #41807c;
              padding: 30px;
			  transform: scale(0.8);
            }
	
	label{
		color: white;
		font-size: 25px;
		font-weight: bold;
	}