.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-tabs-1 {
  min-height: 786px;
  width: 898px;
  margin: 40px auto;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  min-height: 514px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 7px 14px;
}

.u-section-1 .u-icon-1 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  height: 318px;
  width: 469px;
  margin: 20px auto 0;
}

.u-section-1 .u-input-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-group-2 {
  width: 584px;
  min-height: 514px;
  margin: 33px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 7px 14px;
}

.u-section-1 .u-icon-2 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-form-2 {
  height: 318px;
  width: 469px;
  margin: 20px auto 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 30px;
}

.u-section-1 .u-group-3 {
  width: 584px;
  min-height: 571px;
  margin: 29px auto 0 121px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 7px 14px;
}

.u-section-1 .u-icon-3 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-form-3 {
  height: 318px;
  width: 469px;
  margin: 20px auto 0;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
}

.u-section-1 .u-form-group-21 {
  margin-left: 0;
}

.u-section-1 .u-form-group-22 {
  margin-left: 0;
}

.u-section-1 .u-form-group-23 {
  margin-left: 0;
}

.u-section-1 .u-form-group-24 {
  margin-left: 0;
}

.u-section-1 .u-form-group-25 {
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-tab-link-1 {
    padding: 10px;
  }

  .u-section-1 .u-tab-link-2 {
    padding: 10px;
  }

  .u-section-1 .u-tab-link-3 {
    padding: 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-form-1 {
    width: 306px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-form-2 {
    width: 306px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-form-3 {
    width: 306px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 0;
  }
}